In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import jellyfish
%matplotlib inline

In [2]:
names = ["fsid", "Full1"] + ['Source{}'.format(x) for x in range(1,21)]
df = pd.read_csv('/Users/jperryman/Desktop/BYU/Python/api_scrape.csv', names=names)

In [3]:
#df.head()

In [4]:
#print(df.Source1)

In [5]:
df.Source1 = df.Source1.str.replace('( in[\s\S]+)',"")

In [6]:
#print(df.Source1)

In [7]:
df.Source1 = df.Source1.str.extract('([A-Z][ \w]+)',expand = False)

In [8]:
#print(df.Source3)

In [9]:
for x in ['Source{}'.format(x) for x in range(1,21)]:
    df[x] = df[x].str.replace('( in[\s\S]+)',"")
    df[x] = df[x].str.replace('Legacy NFS Source: ',"")
    df[x] = df[x].str.replace('[Ff]ind [Aa] [Gg]rave',"")
    df[x] = df[x].str.replace("\d","")
    df[x] = df[x].str.replace("\.","")
    df[x] = df[x].str.replace('([Tt]he )?United States (Federal )?Census',"")
    df[x] = df[x].str.replace('( the )',"")
    df[x] = df[x].str.extract('([A-Z][\w ]+)',expand = False)

In [10]:
#df.head()

In [11]:
df = df.set_index(['fsid', 'Full1'])
df = df.stack().reset_index()

In [12]:
#df.head(50)

In [13]:
for x in ['Full1'.format(x)]:
    df[x] = df[x].str.replace('\"',"")
    df[x] = df[x].str.replace('( [Jj]r)',"")
    df[x] = df[x].str.replace('\.',"")

In [14]:
del df['level_2']

In [15]:
#df.head()

In [16]:
df.columns = ['fsid', 'Full1', 'Full2']

In [17]:
#df.head(50)

In [18]:
df['score'] = df.apply(lambda row: jellyfish.jaro_distance(row['Full1'], row['Full2']), axis=1)

In [19]:
#df.head(50)

In [20]:
df = df[df.score != 1]
df = df[df.score >= .55]

In [21]:
#df.head(50)

In [22]:
del df['score']
df['First1'] = df.Full1
df['Mid1'] = df.Full1
df['Last1'] = df.Full1
df['First2'] = df.Full2
df['Mid2'] = df.Full2
df['Last2'] = df.Full2

In [23]:
cols = list(df)
cols.insert(5, cols.pop(cols.index('Full2')))
cols

['fsid',
 'Full1',
 'First1',
 'Mid1',
 'Last1',
 'Full2',
 'First2',
 'Mid2',
 'Last2']

In [24]:
df = df.loc[:, cols]

In [25]:
#df.head(50)

In [26]:
for x in ['First1'.format(x)]:
    df[x] = df[x].str.replace('( )\w+',"")

In [27]:
#df.head(50)

In [28]:
for x in ['Mid1'.format(x)]:
    df[x] = df[x].str.replace('(\w+$)',"")
    df[x] = df[x].str.replace('(^\w+)',"")

In [29]:
for x in ['Last1'.format(x)]:
    df[x] = df[x].str.replace('\w+( )',"")

In [30]:
#NAME 1 complete
#df.head(50)

In [31]:
for x in ['First2'.format(x)]:
    df[x] = df[x].str.replace('( )\w+',"")

In [32]:
for x in ['Mid2'.format(x)]:
    df[x] = df[x].str.replace('(\w+$)',"")
    df[x] = df[x].str.replace('(^\w+)',"")

In [33]:
for x in ['Last2'.format(x)]:
    df[x] = df[x].str.replace('\w+( )',"")

In [34]:
#df.head(50)

In [35]:
#df['score'] = df.apply(lambda row: jellyfish.jaro_distance(row['Mid1'], row['Mid2']), axis=1)

In [36]:
df.head()

,fsid,Full1,First1,Mid1,Last1,Full2,First2,Mid2,Last2
0,LDBJ-136,Catherine Kate Englehart,Catherine,Kate,Englehart,Catharine Englehart,Catharine,,Englehart
1,LDBJ-136,Catherine Kate Englehart,Catherine,Kate,Englehart,Katie Englehart,Katie,,Englehart
2,LDBJ-136,Catherine Kate Englehart,Catherine,Kate,Englehart,Kate Wagner,Kate,,Wagner
3,LR4C-C64,Philip Ely Fuller,Philip,Ely,Fuller,Philip E Fuller,Philip,E,Fuller
4,LR4C-C64,Philip Ely Fuller,Philip,Ely,Fuller,Phillip E Fuller,Phillip,E,Fuller

In [37]:
df['match'] = 1

In [38]:
df.head()

,fsid,Full1,First1,Mid1,Last1,Full2,First2,Mid2,Last2,match
0,LDBJ-136,Catherine Kate Englehart,Catherine,Kate,Englehart,Catharine Englehart,Catharine,,Englehart,1
1,LDBJ-136,Catherine Kate Englehart,Catherine,Kate,Englehart,Katie Englehart,Katie,,Englehart,1
2,LDBJ-136,Catherine Kate Englehart,Catherine,Kate,Englehart,Kate Wagner,Kate,,Wagner,1
3,LR4C-C64,Philip Ely Fuller,Philip,Ely,Fuller,Philip E Fuller,Philip,E,Fuller,1
4,LR4C-C64,Philip Ely Fuller,Philip,Ely,Fuller,Phillip E Fuller,Phillip,E,Fuller,1